.top {
    font-size: 30px;
    display:flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.top form{
    display:flex;
    font-size:20px;
}

input.search-btn {
    color: white;
    background-color: gray;
    height:100%;
    padding-left:10px;
    padding-right:10px;
}

.name{
    margin:0 8px;
    font-size:25px;
}

.table{
    margin-top:30px;
}

tr{
    text-align:left;
}

.search-msg {
    color: blue;
    position: absolute;
    top: 120px;
    left: 600px;
}

.delete-msg {
    color: red;
    position: absolute;
    top: 120px;
    left: 600px;
}

.msg {
    position: absolute;
    top: 90px;
    left: 600px;
}

.complete {
    text-decoration: line-through;
}

.text-danger {
    color: #dc3545!important;
}

.create {
    width: 500px;
    margin: 15px;
}

.controll {
    width: 15%;
}

.buttons {
    display: inline-flex;
    transform: translate(0,1px);
    padding: 9px;
    width: 100%
}

 .button {
    height: 30px;
    width: 50px;
    margin-right: 10px;
    text-align: center;
    display: flex;
	justify-content: center;
	align-items: center;
 }

 .blue {
    color: white;
    background-color: blue;
 }

 .green {
    color: white;
    background-color: green;
 }

 .red {
    color: white;
    background-color: red;
 }

 th,td {
    border-bottom:2px gray solid;
 }

 /* tdですと、それぞれに色を付与するので処理が若干かかってしまいます。tableの行全体にcssを適用するようにしましょう */
 tr:nth-child(2n){
    background-color: #ffdaf8;
 }

 /* formを中央寄せにします */
 .form{
    margin:auto;
    width:50%;
 }